{% extends 'Scolarity/base-teacher.html' %} {% block bread-crumb %}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-primary">Tableau de bord</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="">Home</a></li>
            <li class="breadcrumb-item active">Tableau de bord</li>
        </ol>
    </div>
   
</div>

{% endblock bread-crumb %} {% block page-content %}

<p id="bienvenu"> Bonjour chèr(e) enseignant(e) {{enseignant.nom}} {{enseignant.prenom}}<br> Bienvenu au service scoalrité </p>


{% endblock page-content %}