{% extends 'Scolarity/base-teacher.html' %}
{% block bread-crumb %}
<div class="row page-titles">
  <div class="col-md-5 align-self-center">
    <h3 class="text-primary">Remplire les PV</h3>
  </div>
  <div class="col-md-7 align-self-center">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'teacher' %}">Home</a></li>
      <li class="breadcrumb-item active"><a href="{% url 'teacherPvnote' %}">Remplir les notes</a></li>
      <li class="breadcrumb-item active"><a href="{% url 'note' matiere_id=matiere_id %}">{{matiere}}</a></li>
      <li class="breadcrumb-item active">{{etudiant.nom}} {{etudiant.prenom}}</li>
    </ol>
  </div>
</div>
{% endblock bread-crumb %}
{% block page-content %}
<!-- Content -->
<div class="card">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <h2>Notes</h2>
          </div>
        </div>
        <div class="row">
          <div class="w-50 mx-auto">
            <form id="contact-form" class="form" method="POST" role="form">
              {% csrf_token %}
              <div class="form-group">
                <label class="form-label" for="cours">CC cours</label>
                <input type="number" min="0" max="20" class="form-control" id="cours" name="cours" placeholder="CC cours" tabindex="1">
              </div>
              <div class="form-group">
                <label class="form-label" for="td">CC TD</label>
                <input type="number" min="0" max="20" class="form-control" id="td" name="td" placeholder="CC TD" tabindex="2">
              </div>
              <div class="form-group">
                <label class="form-label" for="tp">CC TP</label>
                <input type="number" min="0" max="20" class="form-control" id="tp" name="tp" placeholder="CC TP" tabindex="3">
              </div>
              <div class="form-group">
                <label class="form-label" for="examen">Note Examen</label>
                <input type="number" min="0" max="20" class="form-control" id="examen" name="examen" placeholder="Note Examen" tabindex="4" required>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-start-order" formaction="{% url 'note_etudiant' matiere_id=matiere_id etudiant_id=etudiant_id tab=tab %}">Valider</button>
                {% if suivant is not NONE %}
                  <button type="submit" class="btn btn-start-order" formaction="{% url 'note_etudiant' matiere_id=matiere_id etudiant_id=suivant tab=tab %}">Valider et continuer</button>
                {% endif %}
              </div>
            </form>
          </div>
        </div>
      </div>
</div>
<!-- END Content -->
{% endblock page-content %}
{% block style %}
.col-centered{
    float: none;
    margin: 0 auto;
}

textarea {
  resize: none;
}
.form-label {
  font-size: 12px;
  color: #5e9bfc;
  margin: 0;
  display: block;
  opacity: 1;
  -webkit-transition: .333s ease top, .333s ease opacity;
  transition: .333s ease top, .333s ease opacity;
}
.form-control {
  border-radius: 0;
  border-color: #ccc;
  border-width: 0 0 2px 0;
  border-style: none none solid none;
  box-shadow: none;
}
.form-control:focus {
  box-shadow: none;
  border-color: #5e9bfc;
}
.js-hide-label {
  opacity: 0;
}
.js-unhighlight-label {
  color: #999
}
.btn-start-order {
  background: 0 0 #ffffff;
  border: 1px solid #2f323a;
  border-radius: 3px;
  color: #2f323a;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: inherit;
  padding: 10px 40px;
  margin: 25px 0;
  text-transform: uppercase;
  transition: all 0.25s ease 0s;
}
.btn-start-order:hover,.btn-start-order:active, .btn-start-order:focus {
  border-color: #5e9bfc;
  color: #5e9bfc;
}
{% endblock style %}
{% block js %}
$(document).ready(function() {
	// Test for placeholder support
    $.support.placeholder = (function(){
        var i = document.createElement('input');
        return 'placeholder' in i;
    })();

    // Hide labels by default if placeholders are supported
    if($.support.placeholder) {
        $('.form-label').each(function(){
            $(this).addClass('js-hide-label');
        });

        // Code for adding/removing classes here
        $('.form-group').find('input, textarea').on('keyup blur focus', function(e){

            // Cache our selectors
            var $this = $(this),
                $parent = $this.parent().find("label");

						switch(e.type) {
							case 'keyup': {
								 $parent.toggleClass('js-hide-label', $this.val() == '');
							} break;
							case 'blur': {
								if( $this.val() == '' ) {
                    $parent.addClass('js-hide-label');
                } else {
                    $parent.removeClass('js-hide-label').addClass('js-unhighlight-label');
                }
							} break;
							case 'focus': {
								if( $this.val() !== '' ) {
                    $parent.removeClass('js-unhighlight-label');
                }
							} break;
							default: break;
						}
						// previous implementation with ifs
            /*if (e.type == 'keyup') {
                if( $this.val() == '' ) {
                    $parent.addClass('js-hide-label');
                } else {
                    $parent.removeClass('js-hide-label');
                }
            }
            else if (e.type == 'blur') {
                if( $this.val() == '' ) {
                    $parent.addClass('js-hide-label');
                }
                else {
                    $parent.removeClass('js-hide-label').addClass('js-unhighlight-label');
                }
            }
            else if (e.type == 'focus') {
                if( $this.val() !== '' ) {
                    $parent.removeClass('js-unhighlight-label');
                }
            }*/
        });
    }
});
{% endblock js %}
